{% extends "@Contao/content_element/swiper.html.twig" %}


{% block content %}
  {% set slider_attributes = attrs()
    .addClass("id_#{data.id}")
    .mergeWith(slider_attributes|default)
  %}
  {{ parent() }}

  {% if data.sliderThumbs %}
    <div class="swiper_thumbs id_{{data.id}}">
      <div class="swiper-wrapper">
        {% block slides %}
            {% for element in nested_fragments %}
                {% block slide %}
                    {% set slide_attributes = attrs()
                        .addClass('swiper-slide')
                        .mergeWith(slide_attributes|default)
                    %}
                    <div{{ slide_attributes }}>
                        {% block slide_inner %}
                            {{ content_element(element) }}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  {% endif %}
  
{% endblock %}


{% block controls %}
  {% if data.sliderButtons %}
    {% set button_prev_attributes = attrs()
      .set('type', 'button')
      .addClass('swiper-button-prev')
      .mergeWith(button_prev_attributes|default)
    %}
    <button{{ button_prev_attributes }}></button>
    {% set button_next_attributes = attrs()
      .set('type', 'button')
      .addClass('swiper-button-next')
      .mergeWith(button_next_attributes|default)
    %}
    <button{{ button_next_attributes }}></button>
  {% endif %}

  {% if data.sliderPagination %}
    {% set pagination_attributes = attrs()
      .addClass('swiper-pagination')
      .mergeWith(pagination_attributes|default)
    %}  
    <div{{ pagination_attributes }}></div>
  {% endif %}

  {% if data.sliderScrollbar %}
    <div class="swiper-scrollbar"></div>
  {% endif %}

    <div class="swiper-progress"></div>
{% endblock %}


{% block script %}
  {% add "swiper_js" to body %}
    {% set script_attributes = attrs()
      .setIfExists('nonce', csp_nonce('script-src'))
      .mergeWith(script_attributes|default)
    %}
    <script defer src="{{ asset('js/swiper-bundle.min.js', 'contao-components/swiper') }}"></script>
  {% endadd %}
  <script>
    window.addEventListener("load", () => {
      if (document.querySelector('.swiper.id_{{data.id}}')) {
        
        const swiper_thumbs_{{data.id}} = new Swiper('.swiper_thumbs.id_{{data.id}}', {
          loop: true,
          spaceBetween: 5,
          
          {% if data.sliderThumbsSlidesPerView %}
            slidesPerView: {{data.sliderThumbsSlidesPerView}},
          {% else %}
            slidesPerView: 4,
          {% endif %}

          freeMode: true,
          watchSlidesProgress: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        })

        const swiper_{{data.id}} = new Swiper('.swiper.id_{{data.id}}', {

          {% if data.sliderThumbs %}
            thumbs: {
              swiper: swiper_thumbs_{{data.id}},
            },
          {% endif %}

          effect: '{{ data.sliderEffect }}',

          {% if data.sliderContinuous %}
            loop: true,
          {% endif %}

          {% if data.sliderSpeed %}
            speed: {{ data.sliderSpeed }},
          {% endif %}

          {% if data.sliderDelay %}
            autoplay: {
              delay: {{ data.sliderDelay }},
              {% if data.sliderNotDisableOnInteraction %}
                pauseOnMouseEnter: false,
              {% else %}
                pauseOnMouseEnter: true,
              {% endif %}
            },
          {% endif %}

          {% if data.sliderAutoheight %}
            autoHeight: true,
          {% endif %}
          
          {% if data.sliderKeyboardControl %}
            keyboard: {
              enabled: true,
            },
          {% endif %}

          {% if data.sliderVertical %}
            direction: 'vertical',
          {% endif %}
            
          {% if data.sliderPagination %}
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
          {% endif %}
          
          {% if data.sliderButtons %}
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          {% endif %}
          
          {% if data.sliderScrollbar %}
            scrollbar: {
              el: '.swiper-scrollbar',
            },
          {% endif %}

          on: {
            autoplayTimeLeft(s, time, progress) {
              document.querySelector('.swiper.id_{{data.id}}').style.setProperty("--swiper_progress", 1 - progress);
            }
          },
          
          breakpoints: {
            {% if data.sliderBreakpoint1 %}
              {{ data.sliderBreakpoint1 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint1 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint1 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint1 }},
                {% if data.sliderCenteredSlidesBreakpoint1 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint2 %}
              {{ data.sliderBreakpoint2 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint2 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint2 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint2 }},
                {% if data.sliderCenteredSlidesBreakpoint2 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint3 %}
              {{ data.sliderBreakpoint3 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint3 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint3 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint3 }},
                {% if data.sliderCenteredSlidesBreakpoint3 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint4 %}
              {{ data.sliderBreakpoint4 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint4 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint4 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint4 }},
                {% if data.sliderCenteredSlidesBreakpoint4 %}
                    centeredSlides: true,
                {% endif %}
              }
            {% endif %}
          }
                            
        })
      }
    })
  </script>
{% endblock %}
